@charset "utf-8";
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{font-family: 'Noto Sans', sans-serif;}
a{text-decoration: none; color: inherit;}
li{list-style: none;}
button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.clearfix::before , .clearfix::after{
    display: block; content: ''; clear: both;
}
.hide{position: absolute; top: -999999999999999px;}
#wrap{
    width: 1200px;
    margin: 0 auto;
}
/* 공통 */
header{
    width: 100%;
    height: 220px;
    position: relative;
}
header .logo{
    float: left;
    width: 300px;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
}
header .top{
    width: 400px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
header .top ul li{
    float: left;
    width: 25%;
}
header .search{
    position: absolute;
    top: 80px; left: 375px;
}
header .search input{
   width: 400px;
   height: 45px;
   border: 1px solid #817878;
   border-radius: 20px 0 0 20px;
}
header .search input::placeholder{
    color: #707070;
    padding-left: 20px;
}
header button{
    width: 50px;
    height: 49px;
    background-color: #888888;
    position: absolute;
    top: 80px; left: 770px;
    border-radius: 0 20px 20px 0;
    border: 1px solid #707070;
}
header .nav{
    width: 1200px;
    position: absolute;
    top: 150px;
    z-index: 100;
}
header .nav ul{
    float: left;
    /* display: flex;
    justify-content: center; */
}
header .nav ul li{
    float: left;
    background-color: #555;
    padding-top: 10px;
    margin: 10px;
    box-sizing: border-box;
    width: 220px;
    height: 50px;
}
header .nav ul li a{
    display: block;
    text-align: center;
    color: #BBB;
    font-size: 30px;
}
header .nav ul li.li1{position: relative;}
header .nav ul li ul.sub1{
    position: absolute;
    top: 70px; left: -10px;
    width: 1200px;
    margin: -20px 10px;
    display: none;
}
header .nav ul li ul.sub1 li{
    background-color: #4D0000;
    width: 236px;
    height: 60px;
    margin: 0;
}
header .nav ul li ul.sub1 li ul{
    padding-top: 20px;
}
header .nav ul li ul.sub1 li ul.sub1-1 .h{
    height: 120px;
}
header .nav ul li ul.sub1 li ul.sub1-1 .h2{
    height: 180px;
}
header .nav ul li.li2{position: relative;}
header .nav ul li:hover{background-color: #4D0000;}
header .nav ul li ul.sub2{
    position: absolute;
    top: 70px; left: -10px;
    display: none;
}
header .nav ul li ul.sub2 li{
    background-color: #4D0000;
    margin: 1px 10px;
}
/* header */




/* main */


/* #event ul li{
    display: inline-block;
    margin: 3px;
    width: 560px;
} */




/* bottom */
#use ul{
    display: flex;
    justify-content: center;
}
#use ul li{
    padding: 10px 60px;
    font-size: 13px;
}
footer{
    width: 1200px;
    height: 140px;
    background-color: #555555;
}
footer >div{
    float: left;
    color: #BBBBBB;
}
footer .foot1{
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
}
footer .foot2{
    width: 350px;
    float: left;
}
footer .foot2 ul{
    margin-top: 28px;
}
footer .foot2 ul li {
    width:300px;
    padding: 3px;
    font-size: 14px;
}
footer .line{
    float: left;
    height: 100px;
    border: 1px solid #BBBBBB;
    margin-top: 20px;
    margin-right: 30px;
}
footer .foot3{
    width: 500px;
    float: left;
}
footer .foot3 ul{
    margin-top: 28px;
}
footer .foot3 ul li{
    padding: 3px;
    font-size: 14px;
}
footer .foot3 ul li.cs{
    font-size: 30px;
}
/* footer */
#main{
    width: 100%;
    height: 770px;
}
#main >aside{
    float: left;
}
#main .myNav{
    width: 250px;
    height: 760px;
    margin-top: 50px;
    text-align: center;
    color: #555;
}
#main .myNav h2{
    font-size: 30px;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}
#main .myNav #line1{
    width: 200px;
    border: 1px solid #555;
    position: absolute;
    margin-left: 20px;
}
#main .myNav ul li{
    margin-top: 50px;
}
#main .myNav .de{
    font-size: 25px;
    font-weight: bold;
}
#main .content .cont1{
    width: 900px;
    height: 300px;
    background-color: #F2F0F0;
    border-radius: 20px;
    margin-top: 130px;
} 